.background{
	background-color: #ffffff;
	color: #994c00;
}
.background2{
	background-color: #e7e7e7;
	color: #994c00;
}


.img1{
	width:128px;
	height:128px;
}

div.img2{
	width:666px;
	height:1000px;
}

img.fullsize{
	max-width:100%;
}
img.halfsize{
    max-width:80%;
}

.description{
    padding-top: 100px;
    padding-left: 200px;
}
/*h3{*/
    /*font-size:4vw;*/
/*}*/
/*p{*/
    /*font-size:3vw;*/
/*}*/



@media screen and (max-width:1200px){
	h4{
		front-size:15px;
	}
	p{
		font-size: 15px;
	}
	.responsive-width{
		font-size:20px;
	}
}

@media screen and (max-width:757px){
	h4{
		front-size:15px;
	}
	p{
		font-size: 15px;
	}
	.responsive-width{
		font-size:20px;
	}
}

@media screen and (max-width:460px){
	h4{
		front-size:10px;
	}
	p{
		font-size: 10px;
	}
	.responsive-width{
		font-size:15px;
	}
}