.background{
	background-color: #ffffff;
	color: #994c00;
}
.background2{
	background-color: #ffffff;
	color: #994c00;
}

.img1{
	width:128px;
	height:128px;
}

div.img2{
	width:666px;
	height:1000px;
}

img.fullsize{
	max-width:100%;
}
img.halfsize{
    max-width:80%;
}

.description{
    padding-top: 100px;
    padding-left: 200px;
}
h3{
    font-size:4vw;
}
p{
    font-size:3vw;
}

.responsive-width{
    font-size:3.5vw;
}
