.background1{
	background-color: #ffffcc;
	color: #994c00;
}
.background2{
	background-color: #ffffff;
	color: #994c00;
}

.img1{
	width:128px;
	height:128px;
}

div.img2{
	width:666px;
	height:1000px;
}

img.resize{
	max-width:100%;
}
